
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.design-5CH {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2.3rem 0rem 5.7rem 0rem;
  overflow: hidden;
  background: linear-gradient(287.56deg, #309975 100%, #58b368 200%);

  .auto-group-eqdw-ePo {
    margin: 0rem 6.5rem 0rem 15.8rem;
    width: calc(100% - 22.3rem);
    height: 99.2rem;
    position: relative;
    flex-shrink: 0;

    .hero-section-j3s {
      left: 0;
      top: 5.1rem;
      width: 169.7rem;
      height: 94.1rem;
      position: absolute;

      .hero-text-Qvh {
        width: 70.4rem;
        height: 57.4rem;
        position: absolute;
        left: 0;
        top: 9.7rem;
        border-radius: 1rem;

        .group-6-74R {
          margin-bottom: 14.9rem;
          width: 60.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-k5vu-RL1 {
            box-sizing: border-box;
            padding-bottom: 3.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .your-next-online-bank-jED {
              font-weight: 700;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.1050000191;
              text-transform: capitalize;
              color: #ffffff;
              margin-bottom: 1.8rem;
              max-width: 51.8rem;
              font-size: 8rem;
            }
            .line-1-B6D {
              width: 54.7rem;
              height: 0.3rem;
              background-color: #ffffff;
              flex-shrink: 0;
            }
          }
          .auto-group-f1gq-hKT {
            width: 100%;
            height: 10.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-c7am-SH3 {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 6.8rem;
              width: 13.1rem;

              .x-yGy {
                white-space: nowrap;
                height: 7.2rem;
                left: 0;
                top: 0;
                font-family: Poppins, 'Source Sans Pro';
                line-height: 1.5;
                text-transform: capitalize;
                color: #ffffff;
                width: 6.5rem;
                position: absolute;
                font-size: 4.8rem;
                font-weight: 700;
              }
              .lorem-ipsum-dolor-sit-amet-UUd {
                position: absolute;
                font-weight: 400;
                line-height: 1.2;
                font-family: Poppins, 'Source Sans Pro';
                height: 4.4rem;
                left: 0;
                top: 6.4rem;
                font-size: 1.8rem;
                text-transform: capitalize;
                color: #ffffff;
                width: 13.1rem;
              }
            }
            .auto-group-i4w1-ygH {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 10.9rem;
              width: 14.1rem;

              .item-15-WgD {
                font-family: Poppins, 'Source Sans Pro';
                width: 11.9rem;
                height: 7.2rem;
                position: absolute;
                font-weight: 700;
                text-transform: capitalize;
                color: #ffffff;
                white-space: nowrap;
                left: 0;
                top: 0;
                font-size: 4.8rem;
                line-height: 1.5;
              }
              .lorem-ipsum-dolor-sit-amet-cjF {
                height: 4.4rem;
                position: absolute;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.2;
                text-transform: capitalize;
                font-family: Poppins, 'Source Sans Pro';
                width: 13.1rem;
                left: 1rem;
                top: 6.4rem;
                color: #ffffff;
              }
            }
            .auto-group-kdnu-hVo {
              position: relative;
              flex-shrink: 0;
              width: 15.3rem;
              height: 100%;

              .m-F1X {
                font-family: Poppins, 'Source Sans Pro';
                height: 7.2rem;
                left: 0;
                line-height: 1.5;
                color: #ffffff;
                font-weight: 700;
                text-transform: capitalize;
                white-space: nowrap;
                width: 10.4rem;
                position: absolute;
                top: 0;
                font-size: 4.8rem;
              }
              .lorem-ipsum-dolor-sit-amet-xRj {
                position: absolute;
                left: 2.2rem;
                line-height: 1.2;
                text-transform: capitalize;
                width: 13.1rem;
                height: 4.4rem;
                top: 6.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
        .group-7-eJZ {
          color: #309975;
          white-space: nowrap;
          justify-content: center;
          height: 8rem;
          line-height: 1.5;
          text-transform: capitalize;
          display: flex;
          background-color: #dad873;
          border-radius: 1rem;
          width: 25rem;
          font-size: 2.4rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.150000006);
        }
      }
      .hero-Gqj {
        left: 28.5rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 141.2rem;
        height: 94.1rem;
        position: absolute;
      }
    }
    .nav-zmj {
      align-items: center;
      width: 152.9rem;
      height: 5.4rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;

      .logo-jjK {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.7rem 33.1rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0.2rem 0rem 0.3rem 0.551rem;

        .fad-logo-juce-eLV {
          margin: 0.1rem 1.351rem 0rem 0rem;
          width: 3.5984rem;
          height: 3.5984rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .paywise-AJq {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.5;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      .services-6TP {
        margin: 1.5rem 28.1rem 0.7rem 0rem;
        height: calc(100% - 2.2rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-gokr-RVf {
          flex-shrink: 0;
          margin-right: 7.5rem;
          height: 100%;
          font-weight: 500;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          border-bottom: solid 0.2rem #dad873;
          font-size: 1.8rem;
          line-height: 1.5;
          white-space: nowrap;
          box-sizing: border-box;
        }
        .features-JJZ {
          line-height: 1.5;
          text-transform: capitalize;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 7.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;
        }
        .cards-ECD {
          font-weight: 400;
          line-height: 1.5;
          text-transform: capitalize;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 7.2rem;
          font-size: 1.8rem;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .contact-M1w {
          text-transform: capitalize;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .log-in-sign-up-HgH {
        margin-bottom: 0.4rem;
        height: 5rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .log-in-S3P {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.1rem 0.1rem 0rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
        }
        .auto-group-mtms-Mw3 {
          align-items: center;
          justify-content: center;
          width: 15rem;
          line-height: 1.5;
          color: #309975;
          height: 100%;
          font-size: 1.8rem;
          display: flex;
          background-color: #dad873;
          border-radius: 0.5rem;
          flex-shrink: 0;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .section-2-d7s {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 13.3rem;
    padding: 7.9rem 26.2rem 14rem 26.2rem;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    .mission-wuF {
      margin: 0rem 40.6rem 12.6rem 40.7rem;
      width: calc(100% - 81.3rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .one-mission-two-cards-UeH {
        margin-bottom: 0.8rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.5;
        color: #309975;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .we-are-providing-our-clients-two-cards-for-their-one-mission-and-finance-biu {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 51.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5018750191;
        color: #575757;
      }
    }
    .auto-group-rzw1-5ty {
      flex-shrink: 0;
      width: 100%;
      height: 98.4rem;
      display: flex;
      align-items: center;

      .card1-Rhw {
        flex-shrink: 0;
        padding: 3rem 6.3rem;
        border-radius: 2rem;
        width: 60rem;
        height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.150000006);
        background-color: rgba(239, 238, 180, 0.200000003);
        margin-right: 19.6rem;
        box-sizing: border-box;

        .group-14-A9j {
          width: 40.7rem;
          height: 85.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-8eqt-J13 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 1.3rem 4rem 1.2rem;
            width: 100%;

            .group-5-pk5 {
              flex-shrink: 0;
              border-radius: 1rem;
              height: 6rem;
              white-space: nowrap;
              display: flex;
              align-items: center;
              background-color: #dad873;
              font-size: 1.8rem;
              justify-content: center;
              font-family: Poppins, 'Source Sans Pro';
              margin-bottom: 4rem;
              width: 15rem;
              font-weight: 500;
              line-height: 1.5;
              color: #575757;
            }
            .expanding-access-through-technology-hJ5 {
              font-weight: 500;
              line-height: 1.5;
              color: #dad873;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 38.2rem;
              font-size: 3.6rem;
            }
          }
          .group-2-DXK {
            width: 100%;
            row-gap: 3rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .no-annual-fee-late-and-returned-less-apply--Z5P {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .limits-GkV {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
            }
            .aprs-1999-2949-c3f {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
            }
            .cash-back-at-select-merchants-93b {
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
          .auto-group-nzpx-fGq {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.5rem 1.2rem 0rem 1.2rem;
            width: 100%;
            display: flex;

            .group-8-5rM {
              align-items: center;
              justify-content: center;
              margin-bottom: 8.8rem;
              height: 6rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.1725;
              color: #575757;
              display: flex;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
              width: 18rem;
              font-weight: 500;
              background-color: #f8bf88;
              flex-shrink: 0;
              font-size: 1.8rem;
              border-radius: 0.5rem;
            }
            .group-13-w7s {
              height: 20.5rem;
              background: linear-gradient(180deg, #dad873 -0%, #ffc962 100%);
              border-radius: 1.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.6rem 4.6rem 2.5rem 4.6rem;
              width: 34.2rem;

              .group-12-rkd {
                width: 13.4rem;
                height: 100%;

                .visa-ovm {
                  margin-bottom: 4.3rem;
                  width: 100%;
                  color: #20656f;
                  white-space: nowrap;
                  text-align: center;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.5018750827;
                  font-style: italic;
                  text-transform: uppercase;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .total-balance-i29 {
                  font-size: 1.8rem;
                  line-height: 1.5018750297;
                  color: #20656f;
                  white-space: nowrap;
                  margin-bottom: 0.9rem;
                  width: 100%;
                  text-align: center;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .item-2700030-RhF {
                  width: 100%;
                  font-weight: 700;
                  color: #20656f;
                  font-family: Poppins, 'Source Sans Pro';
                  text-transform: uppercase;
                  white-space: nowrap;
                  text-align: center;
                  font-size: 2.4rem;
                  line-height: 1.5018750827;
                  font-style: italic;
                }
              }
            }
          }
        }
      }
      .card2-2ww {
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3rem 10.8rem 3rem 8.5rem;
        width: 60rem;
        height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.150000006);
        background-color: rgba(239, 238, 180, 0.200000003);

        .group-15-Zws {
          width: 100%;
          height: 85.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-sd9o-vGd {
            box-sizing: border-box;
            padding: 0rem 1.3rem 4rem 1.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .group-4-FJu {
              margin-bottom: 4rem;
              flex-shrink: 0;
              height: 6rem;
              font-weight: 500;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              background-color: #ffcdc2;
              font-size: 1.8rem;
              align-items: center;
              justify-content: center;
              width: 15rem;
              line-height: 1.5;
              border-radius: 1rem;
            }
            .responsible-credit-without-fees-XnD {
              font-size: 3.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #f8bf88;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 34.1rem;
            }
          }
          .group-3-erq {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            row-gap: 3rem;

            .no-annual-fee-late-and-returned-less-apply--CNZ {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .limits-Ki5 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .aprs-1999-2949-sDo {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .cash-back-at-select-merchants-cSH {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #575757;
            }
          }
          .auto-group-ewrv-L7P {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.5rem 1.3rem 0rem 1.3rem;

            .group-9-fQZ {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
              width: 18rem;
              font-weight: 500;
              color: #575757;
              height: 6rem;
              font-size: 1.8rem;
              line-height: 1.1725;
              margin-bottom: 8.8rem;
              display: flex;
              flex-shrink: 0;
              border-radius: 0.5rem;
              align-items: center;
              justify-content: center;
              background-color: #f8bf88;
            }
            .group-11-JyK {
              background: linear-gradient(180deg, #ffcdc2 -0%, #f88888 100%);
              border-radius: 1.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.6rem 4.6rem 2.5rem 4.6rem;
              width: 34.2rem;
              height: 20.5rem;

              .group-10-dEu {
                width: 13.4rem;
                height: 100%;

                .visa-mc1 {
                  font-weight: 700;
                  line-height: 1.5018750827;
                  font-style: italic;
                  color: #20656f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 4.3rem;
                  text-align: center;
                  font-size: 2.4rem;
                  text-transform: uppercase;
                  width: 100%;
                }
                .total-balance-J69 {
                  font-size: 1.8rem;
                  line-height: 1.5018750297;
                  color: #20656f;
                  margin-bottom: 0.9rem;
                  width: 100%;
                  text-align: center;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .item-2700030-csX {
                  text-transform: uppercase;
                  color: #20656f;
                  font-family: Poppins, 'Source Sans Pro';
                  font-weight: 700;
                  text-align: center;
                  font-size: 2.4rem;
                  line-height: 1.5018750827;
                  font-style: italic;
                  white-space: nowrap;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .section-3-pTo {
    margin: 0rem 43.1rem 6rem 26.8rem;
    width: calc(100% - 69.9rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-28-9FB {
      margin-bottom: 6.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .our-online-and-atm-exchange-rates-Vpq {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        max-width: 48rem;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.05;
        color: #ffffff;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitlorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-oqX {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 52.7rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.4049999619;
        color: #ffffff;
      }
    }
    .auto-group-eyo7-VCZ {
      margin-left: 10.1rem;
      width: calc(100% - 10.1rem);
      height: 34.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-29-bmP {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 6.7rem 34.661rem 13.9rem 0rem;
        height: calc(100% - 20.6rem);

        .auto-group-2qar-WtM {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 5rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);
          display: flex;

          .usd-M8H {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.0499999523;
          }
          .eur-Uih {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.0499999523;
          }
        }
        .auto-group-yxq9-R89 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 0.0804rem;
          height: 100%;

          .item-7135-16M {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 6.2rem 0.5rem;
            font-size: 3.6rem;
            font-weight: 500;
            line-height: 1.0499999788;
          }
          .item-8498-Kcq {
            font-weight: 500;
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
          }
        }
        .auto-group-rrhk-e9K {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.08rem 10.78rem 1.061rem 0rem;
          height: calc(100% - 2.1412rem);
          align-items: center;

          .polygon-1-ZXB {
            margin-bottom: 8.3804rem;
            width: 1.6392rem;
            height: 1.6392rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .polygon-2-u5F {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6392rem;
            height: 1.6392rem;
          }
        }
        .auto-group-bqd3-qzV {
          margin-right: 0.6rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-7655-Ca9 {
            font-weight: 500;
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 6.2rem;
            font-size: 3.6rem;
          }
          .item-8598-ja5 {
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 500;
          }
        }
        .auto-group-hm8h-rub {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.08rem 0rem 1.061rem 0rem;
          height: calc(100% - 2.1412rem);
          align-items: center;
          display: flex;

          .polygon-3-Ped {
            margin-bottom: 8.3804rem;
            width: 1.6392rem;
            height: 1.6392rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .polygon-4-8cD {
            width: 1.6392rem;
            height: 1.6392rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-27-Ug5 {
        height: 100%;
        flex-shrink: 0;
        width: 32.7rem;

        .id-like-to-sell-cXP {
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.0499999788;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-tebp-vny {
          padding: 1.6rem 4.5rem 1.6rem 4.1rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.2rem #ffffff;
          margin-bottom: 3.2rem;
          box-sizing: border-box;

          .item-10000-TH7 {
            flex-shrink: 0;
            margin-right: 5.8rem;
            font-size: 3.6rem;
            font-weight: 500;
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rub-Biu {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .ill-get-ueu {
          margin-bottom: 1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.0499999788;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-dmbk-e6h {
          margin-bottom: 4.4rem;
          box-sizing: border-box;
          padding: 1.6rem 4.5rem 1.6rem 4.1rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.2rem #ffffff;

          .item-11200-xt5 {
            margin-right: 7.1rem;
            font-size: 3.6rem;
            font-weight: 500;
            line-height: 1.0499999788;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rub-u2d {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.0499999788;
            color: #ffffff;
          }
        }
        .auto-group-zjbf-dDX {
          background-color: #ffc962;
          border-radius: 0.5rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20rem;
          height: 7rem;
          font-size: 1.8rem;
          line-height: 1.0499999788;
          color: #20656f;
        }
      }
    }
  }
  .section-4-ugq {
    flex-shrink: 0;
    margin-bottom: 9.9rem;
    box-sizing: border-box;
    padding: 5.1rem 26rem 5.1rem 26.2rem;
    width: 100%;
    height: 93.9rem;
    background-color: #ffffff;

    .group-26-qKb {
      width: 100%;
      height: 75.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-25-Ln9 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 41.95rem 3.5rem 41.75rem;
        width: calc(100% - 83.7rem);
        align-items: center;
        display: flex;

        .our-global-services-GQu {
          color: #575757;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.3250000477;
        }
        .we-providing-our-clients-two-cards-for-their-one-mission-and-finance-Bnm {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3250000477;
          color: #575757;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 56.1rem;
          text-align: center;
        }
      }
      .group-24-4rZ {
        width: 100%;
        height: 57.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-xqq5-brV {
          width: 40rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 14.6683rem;

          .group-21-jC1 {
            height: 25rem;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.150000006);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 7.5rem;
            box-sizing: border-box;
            padding: 6.9rem 7.2rem 8.3rem 4.2rem;
            width: 100%;
            background-color: #ffffff;

            .group-16-nvy {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .bank-transfer-8E9 {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.3250000477;
                color: #575757;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitlorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-QhT {
                color: #575757;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 28.6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3250000817;
              }
            }
          }
          .group-20-bG9 {
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 6.9rem 7.2rem 8.3rem 4.2rem;
            width: 100%;
            height: 25rem;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.150000006);
            background-color: #ffffff;

            .group-17-We1 {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .bank-transfer-Tp9 {
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.3250000477;
                color: #575757;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitlorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-bQZ {
                font-weight: 400;
                line-height: 1.3250000817;
                color: #575757;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 28.6rem;
                font-size: 1.4rem;
              }
            }
          }
        }
        .global-svgrepo-com-1-dc9 {
          flex-shrink: 0;
          margin: 2.901rem 14.868rem 0rem 0rem;
          width: 30.2637rem;
          height: 30.2044rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-vgcv-jfB {
          width: 40rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-22-sWV {
            height: 25rem;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.150000006);
            background-color: #309975;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            border-radius: 1rem;
            margin-bottom: 7.5rem;
            padding: 6.9rem 6.6rem 8.1rem 4.8rem;

            .group-18-QFX {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .bank-transfer-ZeD {
                line-height: 1.3250000477;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 1.2rem 0.3rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitlorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suo {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3250000817;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 28.6rem;
              }
            }
          }
          .group-23-LYV {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 6.9rem 6.3rem 8.1rem 5.1rem;
            width: 100%;
            height: 25rem;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.150000006);
            background-color: #ffffff;
            border-radius: 1rem;

            .group-19-U8u {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .bank-transfer-2RK {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.3250000477;
                color: #575757;
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elitlorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-m81 {
                flex-shrink: 0;
                max-width: 28.6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.3250000817;
                color: #575757;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .footer-QRs {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 20.6rem 0rem 25.6rem;
    width: calc(100% - 46.2rem);
    align-items: center;

    .auto-group-w9su-wRo {
      margin-bottom: 2.2rem;
      width: 100%;
      height: 29.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-31-fch {
        margin-right: 38.2rem;
        width: 55.4rem;
        height: 100%;
        flex-shrink: 0;

        .logo-oiu {
          display: flex;
          align-items: center;
          margin: 0rem 33.1rem 2.5rem 0rem;
          box-sizing: border-box;
          padding-left: 0.6445rem;
          width: calc(100% - 33.1rem);
          height: 5.5rem;

          .fad-logo-juce-Xeu {
            margin-right: 1.5445rem;
            width: 4.2109rem;
            height: 4.2109rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .paywise-fFK {
            margin-bottom: 0.1rem;
            font-size: 3.6rem;
            line-height: 1.5;
            text-transform: uppercase;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            font-weight: 600;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .subscribe-to-keep-up-with-the-latest-news-PSD {
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 2.3rem 0.6rem;
          max-width: 36.3rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.3250000381;
          color: #ffffff;
        }
        .group-30-ggD {
          display: flex;
          align-items: center;
          margin: 0rem 0rem 2.3rem 0.6rem;
          width: calc(100% - 0.6rem);
          height: 7rem;

          .auto-group-1vj3-R81 {
            height: 100%;
            font-weight: 400;
            line-height: 1.3250000212;
            font-family: Poppins, 'Source Sans Pro';
            box-sizing: border-box;
            width: 42.5rem;
            border-radius: 0.5rem;
            margin-right: 2.3rem;
            padding: 2.3rem 5rem;
            white-space: nowrap;
            font-size: 1.8rem;
            color: #575757;
            background-color: #e5e5e5;
            flex-shrink: 0;
          }
          .auto-group-b3kz-Uc5 {
            box-sizing: border-box;
            padding: 3.5rem 3.6rem 3.5rem 3.7rem;
            height: 100%;
            background-color: #dad873;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .arrow-1-pA9 {
              width: 2.7rem;
              height: 0rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .by-submitting-this-formyou-acknowledge-that-you-have-the-terms-of-our-privacy-statement-jnu {
          line-height: 1.3250000817;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin-left: 0.6rem;
          max-width: 41.6rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .group-33-bq7 {
        flex-direction: column;
        flex-shrink: 0;
        width: 52.2rem;
        align-items: center;
        display: flex;

        .auto-group-hcxu-YkM {
          box-sizing: border-box;
          padding-bottom: 1rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-xney-5kH {
            flex-shrink: 0;
            margin: 0rem 10.2rem 1.3rem 0rem;
            width: calc(100% - 10.2rem);
            display: flex;
            align-items: center;

            .solutions-QXf {
              margin-right: 25.2rem;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .solutions-Y85 {
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
            }
          }
          .auto-group-xuqp-Tkq {
            margin: 0rem 13.2rem 1rem 0rem;
            width: calc(100% - 13.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .mastercard-BRw {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 22.9rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .home-igm {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
            }
          }
          .auto-group-qrvj-GTP {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 13.2rem 1rem 0rem;
            width: calc(100% - 13.2rem);

            .louis-vuitton-Crq {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 22.2rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .about-x5K {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
            }
          }
          .auto-group-bq1t-JQ5 {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 11.1rem 1rem 0rem;
            width: calc(100% - 11.1rem);
            display: flex;

            .gillette-RzV {
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 27.3rem;
              font-size: 1.8rem;
              font-weight: 400;
            }
            .services-ABP {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-s9uq-JYV {
            margin-right: 11.2rem;
            width: calc(100% - 11.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .apple-eMT {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 28.3rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
            }
            .contact-nyT {
              font-weight: 400;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
            }
          }
        }
        .auto-group-a6ey-8XX {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .general-electric-Vcy {
            margin-right: 19.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .term-and-conditions-EaZ {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .group-32-ZMw {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 35rem 0rem 60.7rem;
      width: calc(100% - 95.7rem);

      .copyrighy-foodhub-2022-6Ms {
        font-size: 1.4rem;
        color: #ffffff;
        line-height: 1.5;
        text-transform: capitalize;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 13.1rem 0rem 0rem;
        font-weight: 400;
      }
      .group-10-Pbs {
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        box-sizing: border-box;
        padding-right: 0.3166rem;
        height: 2.1rem;
        display: flex;

        .frame-7Gy {
          margin: 0.006rem 3.328rem 0rem 0rem;
          width: 0.9311rem;
          height: 1.998rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-RHf {
          margin-right: 3.6347rem;
          width: 1.8221rem;
          height: 1.7417rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-xHb {
          margin: 0.009rem 3.556rem 0rem 0rem;
          width: 2.0839rem;
          height: 1.7249rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-tBF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0032rem;
          width: 2.0278rem;
          height: 2.0278rem;
        }
      }
    }
  }
}
